# Mnemonic for the endowed account (initial fund holder and FAUCET account)
FAUCET_ACCOUNT_MNEMONIC="..."

# Mnemonics for app agent owners & admins
APP_AGENT_ONE_OWNER_MNEMONIC="..."
APP_AGENT_ONE_ADMIN_MNEMONIC="..."
APP_AGENT_TWO_OWNER_MNEMONIC="..."
APP_AGENT_TWO_ADMIN_MNEMONIC="..."
APP_AGENT_THREE_OWNER_MNEMONIC="..."
APP_AGENT_THREE_ADMIN_MNEMONIC="..."

# Mnemonics for demo accounts
DEMO_ACCOUNT_ONE_MNEMONIC="..."
DEMO_ACCOUNT_TWO_MNEMONIC="..."
DEMO_ACCOUNT_THREE_MNEMONIC="..."

# Connection to the blockchain
WS_PROVIDER_URL="ws://asset-hub-bootnode-2.nodes.trait.tech:15400"
DATAGATE_URL="https://api.trait.tech"

# Public URL to access the content
CONTENT_BASE_URL = "https://trait-wallet-demo-account.trait.tech"

# Amount to transfer to app agents
APP_AGENT_OWNER_TRANSFER_AMOUNT=1000000
APP_AGENT_ADMIN_TRANSFER_AMOUNT=100000
DEMO_ACCOUNT_TRANSFER_AMOUNT=10000
