# Mnemonic for the endowed account (initial fund holder and FAUCET account)
FAUCET_ACCOUNT_MNEMONIC="//Alice"

# Mnemonics for app agent owners
APP_AGENT_OWNER_ONE_MNEMONIC="//Alice"
APP_AGENT_OWNER_TWO_MNEMONIC="//Bob"
APP_AGENT_OWNER_THREE_MNEMONIC="//Charlie"

# Mnemonics for demo accounts
DEMO_ACCOUNT_ONE_MNEMONIC="//Dave"
DEMO_ACCOUNT_TWO_MNEMONIC="//Eve"
DEMO_ACCOUNT_THREE_MNEMONIC="//Ferdie"

# Connection to the blockchain
WS_PROVIDER_URL="ws://127.0.0.1:52279"
DATAGATE_URL="http://127.0.0.1:18890"

# Public URL to access the content
CONTENT_BASE_URL = "https://trait-wallet-demo-account.trait.tech"

# Amount to transfer to app agents
TRANSFER_AMOUNT=1000
